@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

:root{
    --font-header: 'Bakbak One', cursive;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(216, 216, 216);
    text-align: center;
}

main{
    background-color: white;
    max-width: 800px;
    height: 500px;
    margin: auto;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.479);
}

header{
    font-family: var(--font-header);
    font-size: 1.5em;
}

section#choose_simbol{
    margin-top: 50px;
}

input[name='simbol']{
    appearance: none;
}

input[name='simbol']:checked ~ span{
    box-shadow: 0px 2.5px 0px 0px cyan;
    background-color: rgb(104, 104, 104);
    color: white;
}

label{
    position: relative;
    text-align: left;
    display: inline-block;
    width: 150px;
}

ion-icon[name='remove']{
    float: right;
    margin: 10px;
}

span{
    display: inline-block;
    width: 100%;
    position:absolute;
    border: 1px solid rgb(133, 133, 133);
    border-bottom: 0;
    border-radius: 5px;
}
